<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/bootstrap.css">
    <script data-main="/js/config" src="js/libs/require-jquery.js"></script>
    <title>Hello Bootstrap</title>
    <style>
    .true {
    color: #BBB;
    text-decoration: line-through;
    </style>
  </head>
  <body>
  <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
          <div class="navbar-header">
              <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-edit"></span> Todo App</a>
          </div>
          <div class="navbar-form navbar-right">
              <a href="http://furqan_786.elance.com" target="_blank" class="btn btn-primary"><b>Hire Me</b> on Elance.com</a>
              <a href="https://www.freelancer.com/u/furqankhanzada.html" target="_blank" class="btn btn-info"><b>Hire Me</b> on Freelancer.com</a>
              <a href="https://github.com/Furqankhanzada/todoApp" target="_blank" class="btn btn-success">View on GitHub</a>
          </div>
      </div>
  </div>
  <div class="container">

      <div class="starter-template">
          <h1>Todo Application <br>Uses <a target="_blank" title="jQuery" href="http://jquery.com/">jQuery</a>, <a target="_blank" title="RequireJS" href="http://requirejs.org/">RequireJs</a>, <a target="_blank" title="BackboneJs" href="http://backbonejs.org/">BackboneJs</a>, <a target="_blank" title="Underscorejs" href="http://underscorejs.org/">UnderscoreJs</a>, <a target="_blank" title="NodeJs" href="http://nodejs.org/">NodeJs</a>, <a target="_blank" title="MongoDB" href="http://www.mongodb.org/">MongoDB</a> and <a target="_blank" title="Bootstrap" href="http://getbootstrap.com/">Bootstrap</a></h1>
          <p class="lead">This is a sample single page application created using described technologies.</p>
          <div class="container_1">

          </div>
      </div>

  </div>

  </body>
</html>