<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/bootstrap.css">
    <script data-main="/js/config" src="js/libs/require-jquery.js"></script>
    <title>Hello Bootstrap</title>
    <style>
    .true {
    color: #BBB;
    text-decoration: line-through;
    </style>
  </head>
  <body>
      <h3>Project Uses Require.js, jQuery, Bootstrap, and Backbone update 4</h3>

      <div class="container">

      </div>


  </body>
</html>